<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
       <meta http-equiv="Content-Security-Policy" content=" media-src 'self' data: blob: *;">
       
    {# <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/components.css" />
    <link rel="stylesheet" href="./css/custom.css" /> #}
    <link rel="stylesheet" href="{{ bsi_cx_css_href() }}" />
    <!-- PLYR library has a CSS and js, both enqueued on this template and added manually into the scr folder -->
    <link rel="stylesheet" href="./css/plyr.scss" />
    <link rel="apple-touch-icon"
      sizes="57x57"
      href="{{bsi_cx_asset(
                        '../../assets/img/icons/JB_57.png'
                    )
                    }}" />
    <link rel="apple-touch-icon"
      sizes="72x72"
      href="{{bsi_cx_asset('../../assets/img/icons/JB_72.png')}}" />
    <link rel="apple-touch-icon"
      sizes="76x76"
      href="{{bsi_cx_asset('../../assets/img/icons/JB_76.png')}}"
      />
    <link rel="apple-touch-icon"
      sizes="114x114"
      href="{{bsi_cx_asset('../../assets/img/icons/JB_114.png')}}"
      />
    <link rel="apple-touch-icon"
      sizes="120x120"
         href="{{bsi_cx_asset('../../assets/img/icons/JB_120.png')}}"
     />
    <link rel="apple-touch-icon"
      sizes="144x144"
       href="{{bsi_cx_asset('../../assets/img/icons/JB_144.png')}}"
      />
    <link rel="apple-touch-icon"
      sizes="152x152"
       href="{{bsi_cx_asset('../../assets/img/icons/JB_152.png')}}"
    />
    <link rel="apple-touch-icon"
      sizes="180x180"
        href="{{bsi_cx_asset('../../assets/img/icons/JB_180.png')}}"
 />
    <link rel="icon"
      type="image/png"
      sizes="192x192"
       href="{{bsi_cx_asset('../../assets/img/icons/JB_192.png')}}"
     />
    <link rel="icon"
      type="image/png"
      sizes="32x32"
       href="{{bsi_cx_asset('../../assets/img/icons/JB_32.png')}}"
     />
    <link rel="icon"
      type="image/png"
      sizes="96x96"
       href="{{bsi_cx_asset('../../assets/img/icons/JB_96.png')}}"
    />
    <link rel="icon"
      type="image/png"
      sizes="16x16"
       href="{{bsi_cx_asset('../../assets/img/icons/JB_16.png')}}"
     />
    <meta property="og:description"
      content="{header_lead-text}" />
    <title></title>
  </head>
  <body>
    <main class="main" id="main">
      <section >
     <div data-bsi-dropzone="rational-text" class="rational-text-wrapper"
            data-bsi-dropzone-allowed-elements="rational-text"
            data-bsi-dropzone-max-number-of-elements="1">
            {% block rational %}
                {# {% include '../../components/elements/rational-text/template.twig' %} #}
            {% endblock %}
          </div>
        <header class="header-wrapper">
          <nav class="navigation">
           <div data-bsi-dropzone="logo"
            data-bsi-dropzone-allowed-elements="header-logo"
            data-bsi-dropzone-max-number-of-elements="1">
            {% block logo %}
                {% include '../../components/elements/header-logo/template.twig' %}
            {% endblock %}
          </div>
          </nav>
        </header>
        <div>
          <a name="top"></a>
        </div>
        <div class="article-content-wrapper">
          <div data-bsi-dropzone="header"
            data-bsi-dropzone-allowed-elements="header-container "
            data-bsi-dropzone-max-number-of-elements="2">
            {% block header %}

            {% endblock %}
          </div>
          <div data-bsi-dropzone="content"
            data-bsi-dropzone-allowed-elements="pie-chart slider-three-el horizontal-bar-chart slider-two-el chart-indexed chart chart-freeform podcast-audio content-video articlesalt-calltoaction-two content-printsubscribe content-text content-list-element content-video-tag content-sticky-buttons content-video-html content-quote content-text-image content-text-title-image content-text-title-image-alt content-image content-cta content-downloads content-download-item content-link-block content-links-group content-highlightbox content-highlightbox2 content-spacer content-table content-table-advanced content-title-lvl-one content-title-lvl-two content-title-lvl-three articles-image articles-image1 articles-image2 articles-imagewide rectangle-advanced related-topics risk-rating"
            class="article-content-wrapper">
            {% block content %}

            {% endblock %}
          </div>
          <div data-bsi-dropzone="articles"
            data-bsi-dropzone-allowed-elements="podcast-audio articles-image articles-image1 articles-image2 articles-imagewide content-sticky-buttons"
            data-bsi-dropzone-max-number-of-elements="1">
            {% block articles %}

            {% endblock %}
          </div>
          <div data-bsi-dropzone="articlesalt"
            data-bsi-dropzone-allowed-elements="podcast-audio content-single-link articlesalt-backtotop articlesalt-optinoptout content-sticky-buttons articlesalt-confirm articlesalt-calltoaction articlesalt-calltoaction-two"
            data-bsi-dropzone-max-number-of-elements="1">
            {% block articlesalt %}

            {% endblock %}
          </div>
          <div data-bsi-dropzone="footer"
            data-bsi-dropzone-allowed-elements="footer-container"
            class="template-section-spacer--last">
            {% block footer %}

            {% endblock %}
          </div>
        </div>
      </section>
    </main>
    
    {# <script  src="./scripts/plyr.js"></script>
  
    <script data-bsi-remove-if="draft" src="./scripts/components.js"></script>
    <script data-bsi-remove-if="draft" src="./scripts/custom.js"></script> #}
    {# <script data-bsi-remove-if="draft"> document.getElementById("copyright-year").innerHTML = new Date().getFullYear()</script> #}
    <script src="{{ bsi_cx_js_module_runtime_href() }}"
            defer="defer"></script>
        <script src="{{ bsi_cx_js_module_href('main') }}"
            defer="defer"></script>
            <script type="module" src="{{ bsi_cx_js_module_href('root') }}"
            defer="defer"></script>
        {{ bsi_cx_js_module_missing_chunks_import() }}
  </body>
</html>
